.hljs-comment {
  color: #9e9e90;
}

.hljs-string,
.hljs-regexp {
  color: #339033;
}

.hljs-keyword {
  color: #2e73b8;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: white;
  color: #333333;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
